<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Sentiment Analyzer</title>
  </head>
  <body style="background-color: rgba(227, 198, 242, 0.833)" class="row">
    <div
      class="container col-8 card my-5 shadow rounded"
      style="background-color: rgba(205, 176, 233, 0.833)"
    >
      <div class="row justify-content-center">
        <div
          class="card my-3 p-2 col-8 text-center shadow mb-5 bg-body rounded"
          style="color: rgba(96, 33, 135, 0.947)"
        >
          <h2>Sentiment Analysis</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <form
          class="col-10"
          action="/analysis"
          method="post"
        >
          <div class="mb-2 form-group">
            <label for="comment" class="form-label"
              >Write Comment here :</label
            >
            <textarea
              class="form-control shadow mb-5 bg-body rounded"
              id="comment"
              name="comment"
              rows="3"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary my-2">
            Analyse Sentiment
          </button>
          </div>
          
        </form>
        {% if prediction is defined %}
        <div class="mt-4">
            {% if prediction == 1 %}
                <div class="alert alert-success" role="alert">{{comment}} is a <b>Positive comment!</b></div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{comment}} is a <b>Negative comment!</b></div>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>